body {
    font-family: 'Rubik', sans-serif;
    font-size: 0.9rem
}

/* TOPBAR */

#top {
    font-size: 12px; letter-spacing: 0.2em
}

.ft {
    text-transform: uppercase
}

.nav-link {
    padding: 10px;
}

/* USER BAR */


/* MAIN MENU */

.fa-shopping-basket {
    font-size: 25px; padding: 0px; color: #0e1b33;
}

.fa-shopping-basket:hover {
    color: #ff8155 !important;
}

.badge {
    font-size:10px; font-weight:normal; position: absolute; top:0px; left:30px
}


/* FOOTER */

#footer {
    background: url('../images/dots_layer.png'), #0e1b33; 

}

#footer li {
    padding: 0.8rem 0;
}
.footer-links a {color: #808997;}

/* COLORS */


.color-darkblue {
    background: #0e1b33;
}

.color-orange {
    background: #ff8155 !important;
}

.font-darkblue {
    color: #0e1b33;
}

.font-orange {
    color: #ff8155 !important;
}

.font-darkgray {
    color: #808997
}

.font-gray {
    color: #9fa7c5 !important;
}

/* CUSTOM STYLING BOOTSTRAP */
.product-description {
    margin-top:20px;
    background: #f9f9f9;
}
.product-description-row {
    background: #f9f9f9;
}

.modal-body {
    padding: 3rem;
    
}

.modal-content {
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.18);
}

select {
    text-transform: capitalize
}

a:hover {
    text-decoration: none;
    color: #ff8155
}

.btn-custom {
    border-radius: 30px;
    padding: 10px;
}

.btn-lg {
    border-radius: 50px;
}

.button-phone {
    width: 180px;
    height: 46px;
}

.button-outline {
    border: 1px solid #e5e5e5;
}

.btn:hover {
    color: #FFF !important;
    background: #0e1b33 !important;
}

.backtotop {
    background: #15ee90 !important;
    color: #fff;
    font-weight: 500;
}

.backtotop:hover {
    border: 1px solid #15ee90;
}

.mycontainer {
    width: 70%;
}


/* SHOWCASE */

#showcase {
    background: url('../images/dots_layer.png'), linear-gradient(to right, #5500be , #c970a6); 
    height: 400px;
}

#showcase h2, h3, h4, h5, h6 {
    
    font-weight: 100;
    font-weight: 700;
    font-family: 'Khula', sans-serif;
}

#showcase h1{
    font-size: 75px;
    font-weight: 700;
    font-family: 'Khula', sans-serif;
}

#shopHeader {

    border-radius: 100px;
    border: 1px solid #ecf1ff
}

.round-button {
    height: 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    position: relative;
}

.addtocart-button {

    background: #ff8155 !important;
    border: none;
    height: 46px;
    min-width: 150px;
    border-radius: 150px;

}

.round-button:hover {
    color: #fff;
    background: #ff8155 !important;
    cursor: pointer;
}


.button-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.myselect {
    border-radius: 100px;
    height: 46px;
    padding: 10px 10px 10px 10px;
    min-width: 70px
}

.mysearch {
    position: relative;
    width: 200px;
    height: 46px;
    border-radius: 100px;
}

.custom-search-absolute {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-50%, -50%)
}

#selectCount {
    max-width: 4rem;
}

.form-control {
    border-radius: 100px;
    padding: 22px 0;
}

.card {
    border: none;
}

/* RATING */

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top:0;
    left:0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    color: #ccc;
    font-weight: 900;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    color: #f8ce0b;
    font-weight: 900;
}


/* CUSTOM PAGINATION */
.paginationCustom {
    border-radius: 50% !important;
    outline: none !important;
}

.pagination > li > a
{
    background-color: white !important;
    color: #808997;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #ff8155 !important;
    background-color: #eee  !important;
    border-color: #ddd  !important;
    outline: none !important;
    box-shadow: none !important;
}

.pagination > .active > a
{
    color: white !important;
    background-color: #ff8155 !important;
    border: solid 1px #ff8155 !important;
}

.pagination > .active > a:hover
{
    color: white !important;
    background-color: #ff8155  !important;
    border: solid 1px #ff8155  !important;
}

.pagination > .active > a:focus
{
    color: white !important;
    background-color: #ff8155  !important;
    border: solid 1px #ff8155  !important;
}

.dropdown-custom {
    min-width: 24rem;
    padding: 20px;
    border-radius: 20px;
}

.td-price {
    min-width: 6rem;
}


/* MEDIA QUERIES */

@media (max-width: 991.98px) {

    #sortButton {
        display: none !important;
    }
 }

 @media (max-width: 1199.98px) {
    .mycontainer {
        width: 100%
    }
 }